
/* Animaciones */
.fade-in { 
    animation: fadeIn 0.5s ease-in-out; 
}

@keyframes fadeIn { 
    from { opacity: 0; transform: translateY(10px); } 
    to { opacity: 1; transform: translateY(0); } 
}

/* Scrollbar Personalizado */
::-webkit-scrollbar { 
    width: 8px; 
}
::-webkit-scrollbar-track { 
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb { 
    background: #f97316; 
    border-radius: 4px; 
}
::-webkit-scrollbar-thumb:hover { 
    background: #c2410c; 
}

/* Patrón de fondo */
.bg-pattern {
    background-image: radial-gradient(#ffffff 1px, transparent 1px);
    background-size: 30px 30px;
}

.perspective-1000 {
    perspective: 1000px;
}

/* --- PERSONALIZACIÓN DEL SCROLLBAR DEL MODAL --- */

/* El riel por donde se mueve la barra */
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f3f4f6; /* Gris muy claro */
    border-radius: 10px;
}

/* La barra en sí */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Delgada y elegante */
    background-color: #f3f4f6;
}

/* El "pulgar" (la parte que se arrastra) */
.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d1d5db; /* Gris medio por defecto */
    border: 2px solid transparent;
    background-clip: content-box;
}

/* Cuando pasas el mouse sobre la barra */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #FF9800; /* ¡Se pone naranja T-Shop! */
}
